<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Practice Vue.js</title>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="index.js" defer></script>
</head>

<body>
  <h1>Hello from HTML!</h1>
  <div id="app">
    {{ message }}
    {{ name }}
    {{ city }}
    <p><button v-on:click="doThis">Do Something</button></p>
    <hr>
    <p>The Instrument: {{ instrument }}</p>
    <p>Favorite Instrument: <input type="text" v-model="instrument"></p>

    <button v-on:click="changeName">Click me!</button>
    <hr>
    <hr>
    <div v-for="fruit in fruits">
      {{ fruit }}</div>
    <input type="text" v-model="newFruit"> <button v-on:click="addFruit"></button>Add fruit</button>
    <hr>
    <hr>
    <div>
      <p v-if="showInfo">Extra Information</p>
      <button v-on:click="toggleInfo">Toggle Extra Info</button>
    </div>

  </div>
</body>

</html>